.Sidebar{
  position: fixed;
}

.container-fluid img{
  border-radius: 50%;
}

.container-fluid img{
  margin-left: 10px;
}

.social-icon{
  margin-top: 25px;
}

.social-icon img{
  height:25px;
  width: 25px;
}

ul li{
  list-style: none;
}

.container-fluid p{
  text-align: center;
}